/*
Colours used:
Primary dark: #191919
Primary light: #F5F5F5
Grey: #B5B5B5
Light grey: #D5D5D5
Green: #3B4F36
Blue: #136DA9
Grey-blue: #48687D
Dark-blue: ##135B8A
*/

/* Layout styling */
.container {
  padding: 0 10%;
  margin-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

html {background-color: #191919}

.row {
  margin: 40px 0; /* 40px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-md-6 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;

}

.extra_padding {
  padding-left: 10px;
  padding-right: 10px;
}

/*Image styling*/
img {
    width: 100%;
  }

.image {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 2.4em;
  font-weight: 1000;
  padding: 16px 32px;
}

.changesImgOnHover {
  display: inline-block; /* or just block */
  width: 100%;
}
.changesImgOnHover:hover img {
  opacity: 0.3;
}
.changesImgOnHover:hover .overlay {
  opacity: 40;
}

/*Gallery styling*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Header styling*/
header {
    position: relative;
    width: 100%;
    background-color: #191919;
    padding: 0px 0;
    margin-top: 40px;
    text-align: center;
  }

.header_border {
  border-bottom: 0.5px solid #F5F5F5;
}

.logo {
    max-width: 600px;
    height: auto;
    padding-right: 80px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 16px;
  font-weight: 400;
  color: #F5F5F5;
}

.navtoggle li:not(:last-child) { /*this targets navigation bar and hids all tabs but last li, allowing hamburger icon to be used by js*/
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 0px;
  font-size: 20px;
  padding-right: 0;
  padding-top: 10px;
  color:#ffffff;
}


.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 0px 0;
  /* border-top: 1px solid rgba (255, 127, 80, 0.5); */
  text-align: right;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 0px;
}

/*Body styling*/
body {
    color: #d5d5d5;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    line-height: 1.6
}




/*Headers styling*/
h1, h2, h3, h4 {
    line-height: 1.4;
    color: #F5F5F5;
  }
  h1 {
    font-size: 4.8em;
    font-weight: 1000;
  }
  
  h2 {
    font-size: 2.4em;
    font-weight: 1000;
  }
  
  h3 {
    font-size: 2.4em;
    font-weight: 600;
  }

  h4 {
    font-size: 1.6em;
    font-weight: 1000;
    text-decoration: underline;
  }

  h5{
    font-size: 1.6em;
    font-weight: 1000;
  }

  h6{
    font-size: 1.6em;
    font-weight: 600;
  }

/*Links styling*/
a {
    color: #F5F5F5;
    text-decoration: none; /* No underlining */
  }

  a:hover,
  a:focus {
    color: #F5F5F5;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  .button {
    display: inline-block; 
    background-color: #136DA9;
    color: #F5F5F5; /* needed to override the default link color */
    font-weight: 800;
    padding: 10px;
    border-radius: 0px;
    border-bottom: 0px solid #191919; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
    color: #F5F5F5;
    background-color: #135B8A;
    text-decoration: none;
  }

  #link 
  a,
  a:hover {
    color: #d5d5d5;
  }

/*Animation styling*/
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*Footer styling*/
footer{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #F5F5F5;
    background-color: #191919;
    border-top: 0.5px solid #F5F5F5;

}

.footer_icon {
  width: 40px;
  height: auto;
  padding: 0 8px;
  margin: 40px 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
.col-md-6 {width: 49.99999%;
  margin: 0px 0;}  
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  nav > ul > li { /*turns all listed items in  the nav to inline-blocks so they can be next to each other*/
    display: inline-block;
}
.navtoggle li:not(:last-child){ /*this reverses the default code for the hamburger menu and shows tabs on larger screens*/
    display: inline-block;
}
.navtoggle li:last-child { /*hides last child = hamburger menu*/
    display: none;
}
nav > ul {
  margin: 1em 0;
}
}

