/*
Colours used:
Primary dark: #191919
Primary light: #F5F5F5
Grey: #B5B5B5
Light grey: #D5D5D5
Green: #3B4F36
Blue: #136DA9
Grey-blue: #48687D
Dark-blue: ##135B8A
*/

/* Layout styling */
.container {
  padding: 0 10%;
  margin-bottom: 40px;
}

html {background-color: #191919}

.row {
  margin: 40px 0; /* 25px top and bottom, 0 left and right */
}

/*Image styling*/
img {
    width: 100%;
  }


#link a:hover {
  color: #D5D5D5
}

/*Header styling*/
header {
    position: relative;
    width: 100%;
    background-color: #191919;
    padding: 24px 0;
    margin-top: 24px;
    text-align: center;
  }

.header_border {
  border-bottom: 0.5px solid #F5F5F5;
}

.logo {
    max-width: 600px;
    height: auto;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 16px;
  font-weight: 400;
  color: #F5F5F5;
}

/*Body styling*/
body {
    color: #d5d5d5;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    line-height: 1.6
}




/*Headers styling*/
h1, h2, h3, h4 {
    line-height: 1.4;
    color: #F5F5F5;
  }
  h1 {
    font-size: 4.8em;
    font-weight: 1000;
  }
  
  h2 {
    font-size: 2.4em;
    font-weight: 1000;
  }
  
  h3 {
    font-size: 2.4em;
    font-weight: 600;
  }

  h4 {
    font-size: 1.6em;
    font-weight: 1000;
    text-decoration: underline;
  }

  h5{
    font-size: 1.6em;
    font-weight: 1000;
  }

/*Links styling*/
  a {
    color: #F5F5F5;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus {
    color: #F5F5F5;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  .button {
    display: inline-block; 
    background-color: #136DA9;
    color: #F5F5F5; /* needed to override the default link color */
    font-weight: 800;
    padding: 10px;
    border-radius: 0px;
    border-bottom: 0px solid #191919; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
    color: #F5F5F5;
    background-color: #135B8A;
    text-decoration: none;
  }



/*Footer styling*/
footer{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #F5F5F5;
    background-color: #191919;
    border-top: 0.5px solid #F5F5F5;

}

.footer_icon {
  max-width: 24px;
  height: auto;
  padding: 0 8px;
  margin: 40px 0;
}